body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.popover .popover-title {
    font-weight: bold;
}

a:focus {
  text-decoration: none;
}

button:focus,button:active {
  outline: none;
}
